---
---

@import "{{ site.theme }}";
@font-face {
font-family: "Chango-Regular";
src: url("https://filmis.app/assets/fonts/Chango-Regular.ttf");
}
@font-face {
font-family: "Montserrat-Regular";
src: url("https://filmis.app/assets/fonts/Montserrat-Regular.ttf");
}
p {
font-family: 'Montserrat-Regular', Montserrat-Regular;
font-weight:normal;
font-style:normal;
}
h1 {
font-family: 'Chango-Regular', Chango-Regular;
font-weight:normal;
font-style:normal;
}
h2 {
font-family: 'Chango-Regular', Chango-Regular;
font-weight:normal;
font-style:normal;
}
